body {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.square {
    text-align: center;
    width: 50px;
    background: #eeeeee;
    display: inline-block;
    padding: 40px;
    font-size: 60px;
    margin: 5px;
    cursor: pointer;
    color: #eeeeee;
}

.selected-player,
.selected-winner {
    font-size: 30px;
    margin-top: 10px;
}

.selected-winner {
    visibility: hidden;
}

button {
    margin-top: 10px;
    font-size: 17px;
    width: 100px;
    height: 30px;
    background-color: #eeeeee;
    cursor: pointer;
}